@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Smartphones (landscape) ----------- */
/* Styles */
/* Smartphones (portrait) ----------- */
/* Styles */
/* Desktops and laptops ----------- */
/* Styles */
/* Large screens ----------- */
/* Styles */
* {
  box-sizing: border-box; }

body {
  counter-reset: section; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ol {
  list-style: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'kulturista';
  src: url("../fonts/kulturista_bold-webfont.eot");
  src: url("../fonts/kulturista_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kulturista_bold-webfont.woff2") format("woff2"), url("../fonts/kulturista_bold-webfont.woff") format("woff"), url("../fonts/kulturista_bold-webfont.ttf") format("truetype"), url("../fonts/kulturista_bold-webfont.svg#kulturistabold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'kulturista';
  src: url("../fonts/kulturista_semibold-webfont.eot");
  src: url("../fonts/kulturista_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kulturista_semibold-webfont.woff2") format("woff2"), url("../fonts/kulturista_semibold-webfont.woff") format("woff"), url("../fonts/kulturista_semibold-webfont.ttf") format("truetype"), url("../fonts/kulturista_semibold-webfont.svg#kulturistasemibold") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ITCOfficinaSerifStdBookRg';
  src: url("../fonts/officinaserifstd-book-webfont.eot");
  src: url("../fonts/officinaserifstd-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/officinaserifstd-book-webfont.woff") format("woff"), url("../fonts/officinaserifstd-book-webfont.ttf") format("truetype"), url("../fonts/officinaserifstd-book-webfont.svg#ITCOfficinaSerifStdBookRg") format("svg");
  font-weight: normal;
  font-style: normal; }
b {
  font-family: "ITCOfficinaSerifStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 16px;
  line-height: 24px; }

p {
  font-family: "ITCOfficinaSerifStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.666; }

h1 {
  font-family: "kulturista", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: 600;
  font-size: 3em;
  line-height: 3.999;
  color: #004126; }

main > h2 {
  font-family: "kulturista", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  color: #003e24;
  text-align: center;
  text-transform: uppercase;
  margin-right: .25em; }

main ul li {
  font-family: "kulturista", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.65;
  color: #003e24;
  text-transform: uppercase;
  text-align: center; }

main ul li:first-of-type:before, main ul li:last-of-type:before {
  content: 'S';
  text-shadow: 0 0 5px #ffffff; }
main ul li:nth-of-type(3):before, main ul li:nth-of-type(5):before {
  content: "T";
  text-shadow: 0 0 5px #ffffff; }
main ul li:nth-of-type(2):before {
  content: "M";
  text-shadow: 0 0 5px #ffffff; }
main ul li:nth-of-type(4):before {
  content: "W";
  text-shadow: 0 0 5px #ffffff; }
main ul li:nth-of-type(6):before {
  content: "F";
  text-shadow: 0 0 5px #ffffff; }

main ol {
  counter-reset: item; }

main ol li {
  width: 100px;
  height: 100px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative; }
  main ol li:after {
    font-family: "ITCOfficinaSerifStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
    font-weight: normal;
    font-size: 1em;
    line-height: 2.666;
    color: #fff;
    content: counter(item);
    counter-increment: item;
    position: absolute;
    bottom: -.75em;
    right: .25em; }

main ol li:nth-of-type(32):before, main ol li:nth-of-type(33):before, main ol li:nth-of-type(34):before, main ol li:nth-of-type(35):before {
  content: " "; }

main {
  width: 100vw;
  height: 91.5vh;
  margin-top: 8.5vh;
  padding: .5em 0em; }

main ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative; }

main ul li {
  width: 14.2857143%;
  height: 19%; }

main ol {
  width: 100%;
  height: 71.4285%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden; }

main ol li {
  width: 14.2857143%;
  height: 20%;
  border-right: 0.5px solid #797e83;
  border-bottom: 0.5px solid #797e83;
  position: relative; }
  main ol li::after {
    clear: both;
    content: "";
    display: block; }
  main ol li:after {
    font-family: "ITCOfficinaSerifStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
    font-weight: normal;
    font-size: .8em;
    line-height: 2.666;
    color: #004126;
    content: counter(item);
    counter-increment: item;
    position: absolute;
    bottom: -.75em;
    right: .35em; }

header {
  -webkit-filter: drop-shadow(3px 0px 4px #808489);
  filter: drop-shadow(3px 0px 4px #808489);
  background: #004126;
  width: 100vw;
  height: 10vh;
  margin: 0;
  padding: .75em .75em;
  position: fixed;
  top: 0;
  left: 0; }

.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navBar .logo {
  width: 10%;
  align-self: flex-start; }
  .navBar .logo a svg {
    width: 2.75em;
    -webkit-filter: drop-shadow(3px 1px 1px #002817);
    filter: drop-shadow(3px 1px 1px #002817); }

.name {
  width: 67%;
  align-self: center;
  margin-left: .75em; }
  .name svg {
    width: 100%;
    text-align: center;
    -webkit-filter: drop-shadow(3px 1px 1px #002817);
    filter: drop-shadow(3px 1px 1px #002817); }

.navBar ul {
  width: 10%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: .5em; }
  .navBar ul li {
    width: 100%; }
    .navBar ul li a svg {
      width: .75em;
      -webkit-filter: opacity(0.7);
      filter: opacity(0.7); }
    .navBar ul li:first-child {
      margin-right: -.1em; }
    .navBar ul li:last-child {
      margin-left: -.1em; }

/*# sourceMappingURL=app.css.map */
