@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Smartphones (landscape) ----------- */
/* Styles */
/* Smartphones (portrait) ----------- */
/* Styles */
/* Desktops and laptops ----------- */
/* Styles */
/* Large screens ----------- */
/* Styles */
* {
  box-sizing: border-box; }

body {
  counter-reset: ol;
  background-color: #004126; }

h1 h2 h3 h4 h5 h6 {
  margin: 0;
  padding: 0;
  text-align: center; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ol {
  list-style: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'PreloSlabMedium';
  src: url("fonts/preloslab-medium-webfont.eot");
  src: url("fonts/preloslab-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/preloslab-medium-webfont.woff") format("woff"), url("fonts/preloslab-medium-webfont.ttf") format("truetype"), url("fonts/preloslab-medium-webfont.svg#PreloSlabMedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PreloSlabBold';
  src: url("fonts/preloslab-bold-webfont.eot");
  src: url("fonts/preloslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/preloslab-bold-webfont.woff") format("woff"), url("fonts/preloslab-bold-webfont.ttf") format("truetype"), url("fonts/preloslab-bold-webfont.svg#PreloSlabBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kulturista';
  src: url("../fonts/kulturista_bold-webfont.eot");
  src: url("../fonts/kulturista_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kulturista_bold-webfont.woff2") format("woff2"), url("../fonts/kulturista_bold-webfont.woff") format("woff"), url("../fonts/kulturista_bold-webfont.ttf") format("truetype"), url("../fonts/kulturista_bold-webfont.svg#kulturistabold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'kulturista';
  src: url("../fonts/kulturista_semibold-webfont.eot");
  src: url("../fonts/kulturista_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kulturista_semibold-webfont.woff2") format("woff2"), url("../fonts/kulturista_semibold-webfont.woff") format("woff"), url("../fonts/kulturista_semibold-webfont.ttf") format("truetype"), url("../fonts/kulturista_semibold-webfont.svg#kulturistasemibold") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ITCOfficinaSerifStdBookRg';
  src: url("../fonts/officinaserifstd-book-webfont.eot");
  src: url("../fonts/officinaserifstd-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/officinaserifstd-book-webfont.woff") format("woff"), url("../fonts/officinaserifstd-book-webfont.ttf") format("truetype"), url("../fonts/officinaserifstd-book-webfont.svg#ITCOfficinaSerifStdBookRg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ITCOfficinaSansStdBookRg';
  src: url("../fonts/officinasansstd-book-webfont.eot");
  src: url("../fonts/officinasansstd-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/officinasansstd-book-webfont.woff") format("woff"), url("../fonts/officinasansstd-book-webfont.ttf") format("truetype"), url("../fonts/officinasansstd-book-webfont.svg#ITCOfficinaSansStdBookRg") format("svg");
  font-weight: normal;
  font-style: normal; }
b {
  font-family: "ITCOfficinaSerifStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 16px;
  line-height: 24px; }

p {
  font-family: "ITCOfficinaSansStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.666; }

h1 {
  font-family: "kulturista", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: 600;
  font-size: 3em;
  line-height: 3.999;
  color: #004126; }

.preloSlab {
  font-family: "PreloSlabMedium", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1em;
  line-height: 1.5;
  color: #004126; }

.dropdown-button {
  font-family: "ITCOfficinaSansStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: normal;
  font-size: 1.25em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: .05em; }

.dropdown-menu {
  font-family: "ITCOfficinaSansStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: normal;
  font-size: 1.25em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: capitalize;
  line-height: 40px; }

main h2 {
  font-family: "kulturista", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  color: #003e24;
  text-transform: uppercase;
  margin: 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: .1em .5em .2em .5em;
  text-shadow: 1px 1px 0px #fff; }

.month_9 h2 {
  background-color: rgba(11, 11, 11, 0.45);
  color: #998844;
  text-shadow: 1px 1px 0px #0b0b0b; }

main ul li {
  font-family: "kulturista", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: 600;
  font-size: .9em;
  line-height: 1.65;
  color: #003e24;
  text-transform: uppercase;
  text-align: center; }

main ul li:first-of-type:before, main ul li:last-of-type:before {
  content: 'S';
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0em .3em;
  text-shadow: 1px 1px 0px #fff; }
main ul li:nth-of-type(3):before, main ul li:nth-of-type(5):before {
  content: "T";
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0em .3em;
  text-shadow: 1px 1px 0px #fff; }
main ul li:nth-of-type(2):before {
  content: "M";
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0em .3em;
  text-shadow: 1px 1px 0px #fff; }
main ul li:nth-of-type(4):before {
  content: "W";
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0em .3em;
  text-shadow: 1px 1px 0px #fff; }
main ul li:nth-of-type(6):before {
  content: "F";
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0em .3em;
  text-shadow: 1px 1px 0px #fff; }

footer h6 {
  font-family: "ITCOfficinaSerifStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

main {
  width: 100vw;
  height: 100vh;
  padding: 9vh 3vw 0vh 2vw;
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }

.monthArrows {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0; }
  .monthArrows a svg {
    -webkit-filter: drop-shadow(0px 0px 1px black);
    filter: drop-shadow(0px 0px 1px black);
    width: 1.75em;
    margin: 0;
    padding: 0; }

main ul {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  margin: 0; }

main ul li {
  align-self: center;
  width: 14%;
  height: 5%;
  padding: 0;
  margin: 0; }

main ol {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: 0;
  left: 0;
  margin: 0; }

main ol li {
  width: 14%;
  height: 16.3%;
  position: relative;
  margin: 0;
  padding: 0; }

.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 13.75em;
  background: rgba(0, 65, 38, 0.9);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-13.75em);
  transition: all 0.25s linear;
  z-index: 999999; }
  .sliding-panel-content ul {
    padding: 0;
    margin: 0; }
  .sliding-panel-content li {
    list-style: none; }
  .sliding-panel-content li a {
    border-bottom: 1px solid #000e08;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none; }
    .sliding-panel-content li a:focus {
      background-color: rgba(0, 65, 38, 0.25); }
    .sliding-panel-content li a:hover {
      background-color: rgba(153, 136, 68, 0.15);
      color: #cccc00; }
  .sliding-panel-content.is-visible {
    transform: translateX(0); }
  .sliding-panel-content svg {
    width: 2.5em; }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 999998; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.sliding-panel-button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 10px 16px;
  position: relative; }
  .sliding-panel-button img {
    height: 1.3em; }

header {
  -webkit-filter: drop-shadow(3px 0px 4px #171717);
  filter: drop-shadow(3px 0px 4px #171717);
  background: #004126;
  width: 100vw;
  height: 8.5vh;
  margin: 0;
  padding: 0em .5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

.navBar {
  width: 100%;
  height: 8.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0; }

.navBar .logo {
  width: 81%;
  height: 100%;
  align-self: center;
  margin-top: 2em; }
  .navBar .logo #logo {
    width: 3em;
    height: 3em;
    margin-right: .5em; }
  .navBar .logo #logoWord {
    width: 16em; }
  .navBar .logo a {
    margin: 0;
    padding: 0; }
    .navBar .logo a svg {
      -webkit-filter: drop-shadow(3px 1px 1px #002817);
      filter: drop-shadow(3px 1px 1px #002817);
      height: 3em;
      margin: 0;
      padding: 0; }

#month_8 .monthArrows a svg {
  -webkit-filter: drop-shadow(0px 0px 3px black);
  filter: drop-shadow(0px 0px 3px black); }

#month_4 .monthArrows a svg {
  -webkit-filter: drop-shadow(0px 0px 3px black);
  filter: drop-shadow(0px 0px 3px black); }

main ol li {
  -webkit-transition: border-right 0s 0s ease-in-out, border-bottom 0s 0s ease-in-out, background-color 0.5s 0.1s ease-in-out;
  -moz-transition: border-right 0s 0s ease-in-out, border-bottom 0s 0s ease-in-out, background-color 0.5s 0.1s ease-in-out;
  transition: border-right 0s 0s ease-in-out, border-bottom 0s 0s ease-in-out, background-color 0.5s 0.1s ease-in-out;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-right-radius: 6px;
  border-right: 1px solid white;
  border-bottom: 1px solid white; }
  main ol li:after {
    -webkit-transition: padding 0.5 0.5 ease-out, font-size 0.5s 0.1s ease-out, color 0.5s 0.1s ease-out, background-color 0.5s 0.1s ease-in-out;
    -moz-transition: padding 0.5 0.5 ease-out, font-size 0.5s 0.1s ease-out, color 0.5s 0.1s ease-out, background-color 0.5s 0.1s ease-in-out;
    transition: padding 0.5 0.5 ease-out, font-size 0.5s 0.1s ease-out, color 0.5s 0.1s ease-out, background-color 0.5s 0.1s ease-in-out;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    background-color: rgba(0, 65, 38, 0.85);
    width: 1.5em;
    font-family: "ITCOfficinaSerifStdBookRg", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 2;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 0px #0b0b0b;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    bottom: 0em;
    right: 0em;
    padding: 0 0em 0 0em;
    border-radius: 0.375em;
    text-align: center; }

ol li:hover {
  -webkit-transform: background-color;
  -moz-transform: background-color;
  -ms-transform: background-color;
  -o-transform: background-color;
  transform: background-color;
  -webkit-transform: border-right;
  -moz-transform: border-right;
  -ms-transform: border-right;
  -o-transform: border-right;
  transform: border-right;
  -webkit-transform: border-bottom;
  -moz-transform: border-bottom;
  -ms-transform: border-bottom;
  -o-transform: border-bottom;
  transform: border-bottom;
  border-right: 0px solid rgba(255, 255, 255, 0);
  border-bottom: 0px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.65); }
  ol li:hover:after {
    -webkit-transform: color;
    -moz-transform: color;
    -ms-transform: color;
    -o-transform: color;
    transform: color;
    -webkit-transform: font-size;
    -moz-transform: font-size;
    -ms-transform: font-size;
    -o-transform: font-size;
    transform: font-size;
    -webkit-transform: padding;
    -moz-transform: padding;
    -ms-transform: padding;
    -o-transform: padding;
    transform: padding;
    color: #cccc00;
    font-size: 1.7em;
    padding: 0 1.5em 0 1em;
    background-color: rgba(0, 65, 38, 0); }

ol li:hover:nth-of-type(32),
:hover:nth-of-type(32),
:hover:nth-of-type(33),
:hover:nth-of-type(34),
:hover:nth-of-type(35),
:hover:nth-of-type(36),
:hover:nth-of-type(37),
:hover:nth-of-type(38),
:hover:nth-of-type(39),
:hover:nth-of-type(40),
:hover:nth-of-type(41),
:hover:nth-of-type(42) {
  -webkit-transform: background-color;
  -moz-transform: background-color;
  -ms-transform: background-color;
  -o-transform: background-color;
  transform: background-color;
  -webkit-transform: border-right;
  -moz-transform: border-right;
  -ms-transform: border-right;
  -o-transform: border-right;
  transform: border-right;
  -webkit-transform: border-bottom;
  -moz-transform: border-bottom;
  -ms-transform: border-bottom;
  -o-transform: border-bottom;
  transform: border-bottom;
  border-right: 0px solid rgba(255, 255, 255, 0);
  border-bottom: 0px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0); }

ol li
ol li:nth-of-type(32),
:nth-of-type(33),
:nth-of-type(34),
:nth-of-type(35),
:nth-of-type(36),
:nth-of-type(37),
:nth-of-type(38),
:nth-of-type(39),
:nth-of-type(40),
:nth-of-type(41),
:nth-of-type(42) {
  content: " ";
  border-right: 0px;
  border-bottom: 0px; }

ol li:nth-of-type(38):after,
:nth-of-type(39):after,
:nth-of-type(40):after,
:nth-of-type(41):after,
:nth-of-type(42):after {
  content: " ";
  border-right: 0px;
  border-bottom: 0px; }

.month_1 {
  background-image: url("../img/kerr-janOffice.jpg");
  background-image: url("../img/kerr-janOffice.jpg"); }
  .month_1 ol {
    counter-reset: li 0; }
  .month_1 ol li:nth-of-type(32) {
    content: " ";
    border-right: 0px;
    border-bottom: 0px; }
  .month_1 ol li:hover:nth-of-type(32):after,
  .month_1 :hover:nth-of-type(32):after,
  .month_1 :hover:nth-of-type(33):after,
  .month_1 :hover:nth-of-type(34):after,
  .month_1 :hover:nth-of-type(35):after,
  .month_1 :hover:nth-of-type(36):after,
  .month_1 :hover:nth-of-type(37):after,
  .month_1 :hover:nth-of-type(38):after,
  .month_1 :hover:nth-of-type(39):after,
  .month_1 :hover:nth-of-type(40):after,
  .month_1 :hover:nth-of-type(41):after,
  .month_1 :hover:nth-of-type(42):after {
    background-color: rgba(255, 255, 255, 0); }
  .month_1 ol li:nth-of-type(32):after,
  .month_1 :nth-of-type(33):after,
  .month_1 :nth-of-type(34):after,
  .month_1 :nth-of-type(35):after,
  .month_1 :nth-of-type(36):after,
  .month_1 :nth-of-type(37):after {
    content: " ";
    border-right: 0px;
    border-bottom: 0px; }

.month_2 {
  background-image: url("../img/kerr-feb.jpg");
  background-image: url("../img/kerr-feb.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_2 ol {
    counter-reset: li -3; }
  .month_2 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_2 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_2 li:hover:nth-of-type(1),
  .month_2 :hover:nth-of-type(2),
  .month_2 :hover:nth-of-type(3),
  .month_2 :hover:nth-of-type(32),
  .month_2 :hover:nth-of-type(33),
  .month_2 :hover:nth-of-type(34),
  .month_2 :hover:nth-of-type(35),
  .month_2 :hover:nth-of-type(36),
  .month_2 :hover:nth-of-type(37),
  .month_2 :hover:nth-of-type(38),
  .month_2 :hover:nth-of-type(39),
  .month_2 :hover:nth-of-type(40),
  .month_2 :hover:nth-of-type(41),
  .month_2 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_2 ol li:nth-of-type(1),
  .month_2 :nth-of-type(2),
  .month_2 :nth-of-type(3),
  .month_2 :nth-of-type(32) {
    border-right: 0px;
    border-bottom: 0px; }
  .month_2 ol li:nth-of-type(1):after,
  .month_2 :nth-of-type(2):after,
  .month_2 :nth-of-type(3):after,
  .month_2 :nth-of-type(32):after,
  .month_2 :nth-of-type(33):after,
  .month_2 :nth-of-type(34):after,
  .month_2 :nth-of-type(35):after,
  .month_2 :nth-of-type(36):after,
  .month_2 :nth-of-type(37):after {
    content: " ";
    border-right: 0px;
    border-bottom: 0px; }

.month_3 {
  background-image: url("../img/kerr-marParkingLot.jpg");
  background-image: url("../img/kerr-marParkingLot.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_3 ol {
    counter-reset: li -3; }
  .month_3 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_3 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_3 li:hover:nth-of-type(1),
  .month_3 :hover:nth-of-type(2),
  .month_3 :hover:nth-of-type(3),
  .month_3 :hover:nth-of-type(35),
  .month_3 :hover:nth-of-type(36),
  .month_3 :hover:nth-of-type(37),
  .month_3 :hover:nth-of-type(38),
  .month_3 :hover:nth-of-type(39),
  .month_3 :hover:nth-of-type(40),
  .month_3 :hover:nth-of-type(41),
  .month_3 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_3 ol li:nth-of-type(32),
  .month_3 :nth-of-type(33),
  .month_3 :nth-of-type(34) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_3 ol li:nth-of-type(1),
  .month_3 :nth-of-type(2),
  .month_3 :nth-of-type(3),
  .month_3 :nth-of-type(35) {
    border-right: 0px;
    border-bottom: 0px; }
  .month_3 ol li:nth-of-type(1):after,
  .month_3 :nth-of-type(2):after,
  .month_3 :nth-of-type(3):after,
  .month_3 :nth-of-type(35):after,
  .month_3 :nth-of-type(36):after,
  .month_3 :nth-of-type(37):after {
    content: " "; }

.month_4 {
  background-image: url("../img/kerr-april.jpg");
  background-image: url("../img/kerr-april.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_4 ol {
    counter-reset: li -5; }
  .month_4 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_4 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_4 li:nth-of-type(1):after,
  .month_4 :nth-of-type(2):after,
  .month_4 :nth-of-type(3):after,
  .month_4 :nth-of-type(4):after,
  .month_4 :nth-of-type(5):after,
  .month_4 :nth-of-type(37):after {
    content: " "; }
  .month_4 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_4 li:hover:nth-of-type(1),
  .month_4 :hover:nth-of-type(2),
  .month_4 :hover:nth-of-type(3),
  .month_4 :hover:nth-of-type(4),
  .month_4 :hover:nth-of-type(5),
  .month_4 :hover:nth-of-type(37),
  .month_4 :hover:nth-of-type(38),
  .month_4 :hover:nth-of-type(39),
  .month_4 :hover:nth-of-type(40),
  .month_4 :hover:nth-of-type(41),
  .month_4 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_4 ol li:nth-of-type(32),
  .month_4 :nth-of-type(33),
  .month_4 :nth-of-type(34),
  .month_4 :nth-of-type(35),
  .month_4 :nth-of-type(36) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_4 ol li:nth-of-type(1),
  .month_4 :nth-of-type(2),
  .month_4 :nth-of-type(3),
  .month_4 :nth-of-type(4),
  .month_4 :nth-of-type(5) {
    border-right: 0px;
    border-bottom: 0px; }

.month_5 {
  background-image: url("../img/kerr-mayDust.jpg");
  background-image: url("../img/kerr-mayDust.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_5 ol {
    counter-reset: li -1; }
  .month_5 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_5 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_5 li:hover:nth-of-type(1),
  .month_5 :hover:nth-of-type(33),
  .month_5 :hover:nth-of-type(34),
  .month_5 :hover:nth-of-type(35),
  .month_5 :hover:nth-of-type(36),
  .month_5 :hover:nth-of-type(37),
  .month_5 :hover:nth-of-type(38),
  .month_5 :hover:nth-of-type(39),
  .month_5 :hover:nth-of-type(40),
  .month_5 :hover:nth-of-type(41),
  .month_5 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_5 ol li:nth-of-type(32),
  .month_5 :nth-of-type(33),
  .month_5 :nth-of-type(34) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_5 ol li:nth-of-type(1),
  .month_5 :nth-of-type(33),
  .month_5 :nth-of-type(34),
  .month_5 :nth-of-type(35),
  .month_5 :nth-of-type(35) {
    border-right: 0px;
    border-bottom: 0px; }
  .month_5 ol li:nth-of-type(1):after,
  .month_5 :nth-of-type(33):after,
  .month_5 :nth-of-type(34):after,
  .month_5 :nth-of-type(35):after,
  .month_5 :nth-of-type(36):after,
  .month_5 :nth-of-type(37):after {
    content: " "; }

.month_6 {
  background-image: url("../img/kerr-juneDirt.jpg");
  background-image: url("../img/kerr-juneDirt.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_6 ol {
    counter-reset: li -4; }
  .month_6 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_6 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_6 li:nth-of-type(1):after,
  .month_6 :nth-of-type(2):after,
  .month_6 :nth-of-type(3):after,
  .month_6 :nth-of-type(4):after,
  .month_6 :nth-of-type(35):after,
  .month_6 :nth-of-type(36):after,
  .month_6 :nth-of-type(37):after {
    content: " "; }
  .month_6 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_6 li:hover:nth-of-type(1),
  .month_6 :hover:nth-of-type(2),
  .month_6 :hover:nth-of-type(3),
  .month_6 :hover:nth-of-type(4),
  .month_6 :hover:nth-of-type(35),
  .month_6 :hover:nth-of-type(36),
  .month_6 :hover:nth-of-type(37),
  .month_6 :hover:nth-of-type(38),
  .month_6 :hover:nth-of-type(39),
  .month_6 :hover:nth-of-type(40),
  .month_6 :hover:nth-of-type(41),
  .month_6 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_6 ol li:nth-of-type(32),
  .month_6 :nth-of-type(33),
  .month_6 :nth-of-type(34) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_6 ol li:nth-of-type(1),
  .month_6 :nth-of-type(2),
  .month_6 :nth-of-type(3),
  .month_6 :nth-of-type(4),
  .month_6 :nth-of-type(5) {
    border-right: 0px;
    border-bottom: 0px; }

.month_7 {
  background-image: url("../img/kerr-julySky.jpg");
  background-image: url("../img/kerr-julySky.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_7 ol {
    counter-reset: li -6; }
  .month_7 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_7 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_7 li:nth-of-type(1):after,
  .month_7 :nth-of-type(2):after,
  .month_7 :nth-of-type(3):after,
  .month_7 :nth-of-type(4):after,
  .month_7 :nth-of-type(5):after,
  .month_7 :nth-of-type(6):after {
    content: " "; }
  .month_7 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_7 li:hover:nth-of-type(1),
  .month_7 :hover:nth-of-type(2),
  .month_7 :hover:nth-of-type(3),
  .month_7 :hover:nth-of-type(4),
  .month_7 :hover:nth-of-type(5),
  .month_7 :hover:nth-of-type(6),
  .month_7 :hover:nth-of-type(38),
  .month_7 :hover:nth-of-type(39),
  .month_7 :hover:nth-of-type(40),
  .month_7 :hover:nth-of-type(41),
  .month_7 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_7 ol li:nth-of-type(32),
  .month_7 :nth-of-type(33),
  .month_7 :nth-of-type(34),
  .month_7 :nth-of-type(35),
  .month_7 :nth-of-type(36),
  .month_7 :nth-of-type(37) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_7 ol li:nth-of-type(1),
  .month_7 :nth-of-type(2),
  .month_7 :nth-of-type(3),
  .month_7 :nth-of-type(4),
  .month_7 :nth-of-type(5),
  .month_7 :nth-of-type(6) {
    border-right: 0px;
    border-bottom: 0px; }

.month_8 {
  background-image: url("../img/kerr-augustBridge.jpg");
  background-image: url("../img/kerr-augustBridge.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_8 ol {
    counter-reset: li -2; }
  .month_8 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_8 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_8 li:hover:nth-of-type(1),
  .month_8 :hover:nth-of-type(2),
  .month_8 :hover:nth-of-type(34),
  .month_8 :hover:nth-of-type(35),
  .month_8 :hover:nth-of-type(36),
  .month_8 :hover:nth-of-type(37),
  .month_8 :hover:nth-of-type(38),
  .month_8 :hover:nth-of-type(39),
  .month_8 :hover:nth-of-type(40),
  .month_8 :hover:nth-of-type(41),
  .month_8 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_8 ol li:nth-of-type(31),
  .month_8 :nth-of-type(32),
  .month_8 :nth-of-type(33),
  .month_8 :nth-of-type(34) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_8 ol li:nth-of-type(1),
  .month_8 :nth-of-type(2),
  .month_8 :nth-of-type(34),
  .month_8 :nth-of-type(35),
  .month_8 :nth-of-type(35) {
    border-right: 0px;
    border-bottom: 0px; }
  .month_8 ol li:nth-of-type(1):after,
  .month_8 :nth-of-type(2):after,
  .month_8 :nth-of-type(34):after,
  .month_8 :nth-of-type(35):after,
  .month_8 :nth-of-type(36):after,
  .month_8 :nth-of-type(37):after {
    content: " "; }

.month_9 {
  background-image: url("../img/kerr-septNight.jpg");
  background-image: url("../img/kerr-septNight.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_9 ol {
    counter-reset: li -5; }
  .month_9 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_9 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_9 li:hover:nth-of-type(1),
  .month_9 :hover:nth-of-type(2),
  .month_9 :hover:nth-of-type(3),
  .month_9 :hover:nth-of-type(4),
  .month_9 :hover:nth-of-type(5),
  .month_9 :hover:nth-of-type(36),
  .month_9 :hover:nth-of-type(37),
  .month_9 :hover:nth-of-type(38),
  .month_9 :hover:nth-of-type(39),
  .month_9 :hover:nth-of-type(40),
  .month_9 :hover:nth-of-type(41),
  .month_9 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_9 ol li:nth-of-type(31),
  .month_9 :nth-of-type(32),
  .month_9 :nth-of-type(33),
  .month_9 :nth-of-type(34),
  .month_9 :nth-of-type(35) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_9 ol li:nth-of-type(1),
  .month_9 :nth-of-type(2),
  .month_9 :nth-of-type(3),
  .month_9 :nth-of-type(4),
  .month_9 :nth-of-type(5) {
    border-right: 0px;
    border-bottom: 0px; }
  .month_9 ol li:nth-of-type(1):after,
  .month_9 :nth-of-type(2):after,
  .month_9 :nth-of-type(3):after,
  .month_9 :nth-of-type(4):after,
  .month_9 :nth-of-type(5):after,
  .month_9 :nth-of-type(36):after,
  .month_9 :nth-of-type(37):after {
    content: " "; }

.month_10 {
  background-image: url("../img/kerr-octSwamp.jpg");
  background-image: url("../img/kerr-octSwamp.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_10 ol {
    counter-reset: li 0; }
  .month_10 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_10 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_10 li:hover:nth-of-type(32),
  .month_10 :hover:nth-of-type(33),
  .month_10 :hover:nth-of-type(34),
  .month_10 :hover:nth-of-type(35),
  .month_10 :hover:nth-of-type(36),
  .month_10 :hover:nth-of-type(37),
  .month_10 :hover:nth-of-type(38),
  .month_10 :hover:nth-of-type(39),
  .month_10 :hover:nth-of-type(40),
  .month_10 :hover:nth-of-type(41),
  .month_10 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_10 ol li:nth-of-type(31),
  .month_10 :nth-of-type(32),
  .month_10 :nth-of-type(33) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_10 ol li:nth-of-type(32),
  .month_10 :nth-of-type(33),
  .month_10 :nth-of-type(34),
  .month_10 :nth-of-type(35) {
    border-right: 0px;
    border-bottom: 0px; }
  .month_10 ol li:nth-of-type(32):after,
  .month_10 :nth-of-type(33):after,
  .month_10 :nth-of-type(34):after,
  .month_10 :nth-of-type(35):after,
  .month_10 :nth-of-type(36):after,
  .month_10 :nth-of-type(37):after {
    content: " "; }

.month_11 {
  background-image: url("../img/kerr-novRoad.jpg");
  background-image: url("../img/kerr-novRoad.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_11 ol {
    counter-reset: li -3; }
  .month_11 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_11 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_11 li:nth-of-type(1):after,
  .month_11 :nth-of-type(2):after,
  .month_11 :nth-of-type(3):after,
  .month_11 :nth-of-type(34):after,
  .month_11 :nth-of-type(35):after,
  .month_11 :nth-of-type(36):after,
  .month_11 :nth-of-type(37):after {
    content: " "; }
  .month_11 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_11 li:hover:nth-of-type(1),
  .month_11 :hover:nth-of-type(2),
  .month_11 :hover:nth-of-type(3),
  .month_11 :hover:nth-of-type(34),
  .month_11 :hover:nth-of-type(35),
  .month_11 :hover:nth-of-type(36),
  .month_11 :hover:nth-of-type(37),
  .month_11 :hover:nth-of-type(38),
  .month_11 :hover:nth-of-type(39),
  .month_11 :hover:nth-of-type(40),
  .month_11 :hover:nth-of-type(41),
  .month_11 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_11 ol li:nth-of-type(4),
  .month_11 :nth-of-type(5),
  .month_11 :nth-of-type(6),
  .month_11 :nth-of-type(33) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_11 ol li:nth-of-type(1),
  .month_11 :nth-of-type(2),
  .month_11 :nth-of-type(3),
  .month_11 :nth-of-type(4),
  .month_11 :nth-of-type(5),
  .month_11 :nth-of-type(6) {
    border-right: 0px;
    border-bottom: 0px; }

.month_12 {
  background-image: url("../img/kerr-decNightRoad.jpg");
  background-image: url("../img/kerr-decNightRoad.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .month_12 ol {
    counter-reset: li -5; }
  .month_12 ol li {
    -webkit-transition: background-color 0.5s 0s ease-in-out;
    -moz-transition: background-color 0.5s 0s ease-in-out;
    transition: background-color 0.5s 0s ease-in-out;
    background-color: rgba(255, 255, 255, 0); }
  .month_12 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_12 li:nth-of-type(1):after,
  .month_12 :nth-of-type(2):after,
  .month_12 :nth-of-type(3):after,
  .month_12 :nth-of-type(4):after,
  .month_12 :nth-of-type(5):after,
  .month_12 :nth-of-type(37):after {
    content: " "; }
  .month_12 ol li:hover {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0.85); }
  .month_12 li:hover:nth-of-type(1),
  .month_12 :hover:nth-of-type(2),
  .month_12 :hover:nth-of-type(3),
  .month_12 :hover:nth-of-type(4),
  .month_12 :hover:nth-of-type(5),
  .month_12 :hover:nth-of-type(37),
  .month_12 :hover:nth-of-type(38),
  .month_12 :hover:nth-of-type(39),
  .month_12 :hover:nth-of-type(40),
  .month_12 :hover:nth-of-type(41),
  .month_12 :hover:nth-of-type(42) {
    -webkit-transform: background-color;
    -moz-transform: background-color;
    -ms-transform: background-color;
    -o-transform: background-color;
    transform: background-color;
    background-color: rgba(255, 255, 255, 0); }
  .month_12 ol li:nth-of-type(6),
  .month_12 :nth-of-type(32),
  .month_12 :nth-of-type(33),
  .month_12 :nth-of-type(34),
  .month_12 :nth-of-type(35),
  .month_12 :nth-of-type(36) {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .month_12 ol li:nth-of-type(1),
  .month_12 :nth-of-type(2),
  .month_12 :nth-of-type(3),
  .month_12 :nth-of-type(4),
  .month_12 :nth-of-type(5),
  .month_12 :nth-of-type(37) {
    border-right: 0px;
    border-bottom: 0px; }

footer {
  width: 100vw;
  height: 8.5vh;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #004126;
  -webkit-filter: drop-shadow(-2px -2px 2px rgba(11, 11, 11, 0.25));
  filter: drop-shadow(-2px -2px 2px rgba(11, 11, 11, 0.25));
  z-index: 1000; }

.notificationBar {
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em 1em 1em; }
  .notificationBar svg {
    height: 1.75em; }

@media only screen and (max-width: 620px) {
  header {
    width: 100vw;
    height: 7vh; }

  main {
    width: 100vw;
    height: 100vh;
    padding: 7.5vh 3vw 0vh 2vw; }

  main ol li:after {
    -webkit-transition: padding 0.5 0.5 ease-out, font-size 0.5s 0.1s ease-out, color 0.5s 0.1s ease-out, background-color 0.5s 0.1s ease-in-out;
    -moz-transition: padding 0.5 0.5 ease-out, font-size 0.5s 0.1s ease-out, color 0.5s 0.1s ease-out, background-color 0.5s 0.1s ease-in-out;
    transition: padding 0.5 0.5 ease-out, font-size 0.5s 0.1s ease-out, color 0.5s 0.1s ease-out, background-color 0.5s 0.1s ease-in-out;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    background-color: rgba(0, 65, 38, 0.85);
    width: 1.35em;
    font-size: 1.1em;
    line-height: 1.35;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 0px #0b0b0b;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    bottom: 0em;
    right: 0em;
    padding: 0 0em 0 0em;
    border-radius: 0.375em;
    text-align: center; }

  ol li:hover:after {
    -webkit-transform: color;
    -moz-transform: color;
    -ms-transform: color;
    -o-transform: color;
    transform: color;
    -webkit-transform: font-size;
    -moz-transform: font-size;
    -ms-transform: font-size;
    -o-transform: font-size;
    transform: font-size;
    -webkit-transform: padding;
    -moz-transform: padding;
    -ms-transform: padding;
    -o-transform: padding;
    transform: padding;
    color: #cccc00;
    font-size: 1.4em;
    padding: 0 1.1em 0 1em;
    background-color: rgba(0, 65, 38, 0); }

  .navBar .logo {
    margin-top: 1.5em;
    margin-left: .25em; }
    .navBar .logo #logo {
      margin-right: .33em; }
    .navBar .logo #logoWord {
      width: 13.5em; }
    .navBar .logo a svg {
      height: 2.5em;
      padding: 0; }

  .navBar .dropdown {
    width: 0%;
    display: none; }

  .navBar .menuIcon {
    width: 19%;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    margin: 0;
    padding: .3em 0em .88em 0em; }
    .navBar .menuIcon a svg {
      -webkit-filter: opacity(0.4);
      filter: opacity(0.4);
      width: 90%;
      max-width: 3em;
      margin: 0;
      padding: 0; } }
@media only screen and (min-width: 620px) {
  header {
    width: 100vw;
    height: 8.5vh; }

  .navBar {
    width: 100%;
    height: 8.5vh; }

  .navBar .logo {
    width: 60%;
    height: 100%;
    margin-top: 2em;
    margin-left: .75em; }

  .navBar .dropdown {
    width: 40%;
    margin-top: .5em;
    margin-right: 4%;
    line-height: 1.5em; }
    .navBar .dropdown .dropdown-container {
      width: 100%;
      display: inline-block;
      position: relative;
      text-align: center; }
    .navBar .dropdown .dropdown-button {
      background: #004126;
      border-radius: 3px;
      cursor: pointer;
      float: right;
      margin: 0;
      padding: 0em 1em;
      position: relative; }
    .navBar .dropdown .dropdown-button:hover {
      background-color: #00321d; }
    .navBar .dropdown .dropdown-menu {
      background: #004126;
      border: 1px solid #004b2c;
      border-radius: 3px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      color: #fff;
      cursor: pointer;
      display: none;
      margin: 0;
      overflow: show;
      padding: 0;
      position: absolute;
      right: 0;
      top: 50px;
      transition: all 0.2s ease-in-out;
      width: 228px;
      z-index: 99999; }
    .navBar .dropdown .dropdown-menu li {
      border-bottom: 1px solid silver;
      color: #fff;
      list-style: none;
      padding: 0.5em; }
    .navBar .dropdown .dropdown-menu li:hover {
      background: #00321d; }
    .navBar .dropdown .dropdown-menu li:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
    .navBar .dropdown .dropdown-menu li:last-child {
      border: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
    .navBar .dropdown .show-menu {
      display: block; }

  .navBar .menuIcon {
    width: 0%;
    display: none; }
    .navBar .menuIcon a svg {
      width: 0%;
      max-width: 0em; } }

/*# sourceMappingURL=app.css.map */
