// Begin specific month layout styling with date grid styling

#month_8 {
  .monthArrows a svg{
    @include filter(drop-shadow(0px 0px 3px darken($kerrGreen,70%)));

  }
}
#month_4 {
  .monthArrows a svg{
    @include filter(drop-shadow(0px 0px 3px darken($kerrGreen,70%)));

  }
}


main ol li {
  @include transition(border-right 0.0s 0.0s ease-in-out, border-bottom 0.0s 0.0s ease-in-out, background-color .5s .1s ease-in-out);
  @include transform-origin(0% 0%);
  background-color: rgba($white, 0.0);
  border-bottom-right-radius: 6px;
  border-right: 1px solid rgba($white, 1.0);
  border-bottom: 1px solid rgba($white, 1.0);
  &:after {
    @include transition(padding 0.5 0.5 ease-out, font-size 0.5s 0.1s ease-out, color 0.5s 0.1s ease-out, background-color 0.5s 0.1s ease-in-out);
    @include transform-origin(0% 0%);
    background-color: rgba($kerrGreen, 0.85);
    width:1.5em;
    font-family: 'ITCOfficinaSerifStdBookRg', $georgia, serif;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 2;
    color: $white;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 0px $black;
    content: counter(li);
    counter-increment: li;
    position:absolute;
    bottom: 0em;
    right:0em;
    padding: 0 0em 0 0em;
    border-radius: em(6px);
    text-align: center;
  }
}
ol li:hover {
  @include transform(background-color);
  @include transform(border-right);
  @include transform(border-bottom);
  border-right: 0px solid rgba($white, 0.0);
  border-bottom: 0px solid rgba($white, 0.0);
  background-color: rgba($white, 0.65);
  &:after {
  @include transform(color);
  @include transform(font-size);
  @include transform(padding);
    color: $kerrAccent;
    font-size: 1.7em;
    padding: 0 1.5em 0 1em;
    background-color: rgba($kerrGreen, 0.0);
  }
}
ol li:hover:nth-of-type(32),
    :hover:nth-of-type(32),
    :hover:nth-of-type(33),
    :hover:nth-of-type(34),
    :hover:nth-of-type(35),
    :hover:nth-of-type(36),
    :hover:nth-of-type(37),
    :hover:nth-of-type(38),
    :hover:nth-of-type(39),
    :hover:nth-of-type(40),
    :hover:nth-of-type(41),
    :hover:nth-of-type(42) {
  @include transform(background-color);
  @include transform(border-right);
  @include transform(border-bottom);
  border-right: 0px solid rgba($white, 0.0);
  border-bottom: 0px solid rgba($white, 0.0);
  background-color: rgba($white, 0.0);
}
ol li
ol li:nth-of-type(32),
    :nth-of-type(33),
    :nth-of-type(34),
    :nth-of-type(35),
    :nth-of-type(36),
    :nth-of-type(37),
    :nth-of-type(38),
    :nth-of-type(39),
    :nth-of-type(40),
    :nth-of-type(41),
    :nth-of-type(42) {
    content: " ";
    border-right:0px;
    border-bottom:0px;
}
ol li:nth-of-type(38):after,
  :nth-of-type(39):after,
  :nth-of-type(40):after,
  :nth-of-type(41):after,
  :nth-of-type(42):after {
  content: " ";
  border-right:0px;
  border-bottom:0px;
}
.month_1 {
  @include background-image(url("../img/kerr-janOffice.jpg"));
  ol {
    counter-reset: li 0;
  }
  ol li:nth-of-type(32) {
       content: " ";
       border-right:0px;
       border-bottom:0px;
  }
  ol li:hover:nth-of-type(32):after,
      :hover:nth-of-type(32):after,
      :hover:nth-of-type(33):after,
      :hover:nth-of-type(34):after,
      :hover:nth-of-type(35):after,
      :hover:nth-of-type(36):after,
      :hover:nth-of-type(37):after,
      :hover:nth-of-type(38):after,
      :hover:nth-of-type(39):after,
      :hover:nth-of-type(40):after,
      :hover:nth-of-type(41):after,
      :hover:nth-of-type(42):after {
    background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(32):after,
          :nth-of-type(33):after,
          :nth-of-type(34):after,
          :nth-of-type(35):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
       border-right:0px;
       border-bottom:0px;
  }
}


.month_2 {
  @include background-image(url("../img/kerr-feb.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -3;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(3),
        :hover:nth-of-type(32),
        :hover:nth-of-type(33),
        :hover:nth-of-type(34),
        :hover:nth-of-type(35),
        :hover:nth-of-type(36),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3),
        :nth-of-type(32) {
         border-right:0px;
         border-bottom:0px;
  }
  ol li:nth-of-type(1):after,
          :nth-of-type(2):after,
          :nth-of-type(3):after,
          :nth-of-type(32):after,
          :nth-of-type(33):after,
          :nth-of-type(34):after,
          :nth-of-type(35):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
       border-right:0px;
       border-bottom:0px;
  }
}
.month_3 {
  @include background-image(url("../img/kerr-marParkingLot.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -3;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(3),
        :hover:nth-of-type(35),
        :hover:nth-of-type(36),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3),
        :nth-of-type(35) {
         border-right:0px;
         border-bottom:0px;
  }
  ol li:nth-of-type(1):after,
          :nth-of-type(2):after,
          :nth-of-type(3):after,
          :nth-of-type(35):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
  }
}

.month_4 {
  @include background-image(url("../img/kerr-april.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -5;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:nth-of-type(1):after,
          :nth-of-type(2):after,
          :nth-of-type(3):after,
          :nth-of-type(4):after,
          :nth-of-type(5):after,
          :nth-of-type(37):after {
       content: " ";
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(3),
        :hover:nth-of-type(4),
        :hover:nth-of-type(5),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34),
        :nth-of-type(35),
        :nth-of-type(36) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3),
        :nth-of-type(4),
        :nth-of-type(5) {
         border-right:0px;
         border-bottom:0px;
  }
}

.month_5 {
  @include background-image(url("../img/kerr-mayDust.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -1;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(33),
        :hover:nth-of-type(34),
        :hover:nth-of-type(35),
        :hover:nth-of-type(36),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(33),
        :nth-of-type(34),
        :nth-of-type(35),
        :nth-of-type(35) {
         border-right:0px;
         border-bottom:0px;
  }
  ol li:nth-of-type(1):after,
        :nth-of-type(33):after,
        :nth-of-type(34):after,
          :nth-of-type(35):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
  }
}
.month_6 {
  @include background-image(url("../img/kerr-juneDirt.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -4;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:nth-of-type(1):after,
          :nth-of-type(2):after,
          :nth-of-type(3):after,
          :nth-of-type(4):after,
          :nth-of-type(35):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(3),
        :hover:nth-of-type(4),
        :hover:nth-of-type(35),
        :hover:nth-of-type(36),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3),
        :nth-of-type(4),
        :nth-of-type(5) {
         border-right:0px;
         border-bottom:0px;
  }
}
.month_7 {
  @include background-image(url("../img/kerr-julySky.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -6;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:nth-of-type(1):after,
          :nth-of-type(2):after,
          :nth-of-type(3):after,
          :nth-of-type(4):after,
          :nth-of-type(5):after,
          :nth-of-type(6):after {
       content: " ";
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(3),
        :hover:nth-of-type(4),
        :hover:nth-of-type(5),
        :hover:nth-of-type(6),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34),
        :nth-of-type(35),
        :nth-of-type(36),
        :nth-of-type(37) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3),
        :nth-of-type(4),
        :nth-of-type(5),
        :nth-of-type(6) {
         border-right:0px;
         border-bottom:0px;
  }
}
.month_8 {
  @include background-image(url("../img/kerr-augustBridge.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -2;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(34),
        :hover:nth-of-type(35),
        :hover:nth-of-type(36),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(31),
        :nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(34),
        :nth-of-type(35),
        :nth-of-type(35) {
         border-right:0px;
         border-bottom:0px;
  }
  ol li:nth-of-type(1):after,
        :nth-of-type(2):after,
        :nth-of-type(34):after,
          :nth-of-type(35):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
  }
}

.month_9 {
  @include background-image(url("../img/kerr-septNight.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -5;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(3),
        :hover:nth-of-type(4),
        :hover:nth-of-type(5),
        :hover:nth-of-type(36),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(31),
        :nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34),
        :nth-of-type(35) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3),
        :nth-of-type(4),
        :nth-of-type(5) {
         border-right:0px;
         border-bottom:0px;
  }
  ol li:nth-of-type(1):after,
        :nth-of-type(2):after,
        :nth-of-type(3):after,
          :nth-of-type(4):after,
          :nth-of-type(5):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
  }
}
.month_10 {
  @include background-image(url("../img/kerr-octSwamp.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li 0;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(32),
        :hover:nth-of-type(33),
        :hover:nth-of-type(34),
        :hover:nth-of-type(35),
        :hover:nth-of-type(36),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(31),
  :nth-of-type(32),
      :nth-of-type(33) {
        border-right: 1px solid rgba($white, 1.0);
        border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34),
        :nth-of-type(35) {
         border-right:0px;
         border-bottom:0px;
  }
  ol li:nth-of-type(32):after,
        :nth-of-type(33):after,
        :nth-of-type(34):after,
          :nth-of-type(35):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
  }
}
.month_11 {
  @include background-image(url("../img/kerr-novRoad.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -3;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:nth-of-type(1):after,
          :nth-of-type(2):after,
          :nth-of-type(3):after,
          :nth-of-type(34):after,
          :nth-of-type(35):after,
          :nth-of-type(36):after,
          :nth-of-type(37):after {
       content: " ";
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(3),
        :hover:nth-of-type(34),
        :hover:nth-of-type(35),
        :hover:nth-of-type(36),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(4),
        :nth-of-type(5),
        :nth-of-type(6),
        :nth-of-type(33) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3),
        :nth-of-type(4),
        :nth-of-type(5),
        :nth-of-type(6) {
         border-right:0px;
         border-bottom:0px;
  }
}
.month_12 {
  @include background-image(url("../img/kerr-decNightRoad.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  ol {
    counter-reset: li -5;
  }
  ol li {
    @include transition(background-color 0.5s 0.0s ease-in-out);
    background-color: rgba($white, 0.0);
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:nth-of-type(1):after,
          :nth-of-type(2):after,
          :nth-of-type(3):after,
          :nth-of-type(4):after,
          :nth-of-type(5):after,
          :nth-of-type(37):after {
       content: " ";
  }
  ol li:hover {
    @include transform(background-color);
    background-color: rgba($white, 0.85);
  }
  li:hover:nth-of-type(1),
        :hover:nth-of-type(2),
        :hover:nth-of-type(3),
        :hover:nth-of-type(4),
        :hover:nth-of-type(5),
        :hover:nth-of-type(37),
        :hover:nth-of-type(38),
        :hover:nth-of-type(39),
        :hover:nth-of-type(40),
        :hover:nth-of-type(41),
        :hover:nth-of-type(42) {
      @include transform(background-color);
      background-color: rgba($white, 0.0);
  }
  ol li:nth-of-type(6),
        :nth-of-type(32),
        :nth-of-type(33),
        :nth-of-type(34),
        :nth-of-type(35),
        :nth-of-type(36) {
          border-right: 1px solid rgba($white, 1.0);
          border-bottom: 1px solid rgba($white, 1.0);
  }
  ol li:nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3),
        :nth-of-type(4),
        :nth-of-type(5),
        :nth-of-type(37) {
         border-right:0px;
         border-bottom:0px;
  }
}


// End month layout styling
