main {
  width: 100vw;
  height: 100vh;
  padding: 9vh 3vw 0vh 2vw;
  overflow:hidden;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

// Begin main month container styling

.monthArrows {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0;
  padding:0;
  position: relative;
  top:0;
  left:0;
  a svg {
    // @include filter(opacity(0.9));
    @include filter(drop-shadow(0px 0px 1px darken($kerrGreen,25%)));
    width:1.75em;
    margin:0;
    padding:0;
  }
}
main ul {
  width:100%;
  height:5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top:0;
  left:0;
  margin:0;
  // padding-left: (0.2857143% * 7);
}
main ul li {
  align-self: center;
  width: 14%;
  height:5%;
  padding: 0;
  margin:0;
}
main ol {
  width:100%;
  height:70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top:0;
  left:0;
  margin:0;
  // padding-right:(0.2857143 * 7);
}
main ol li {
  width: 14%;
  height: 16.3%;
  position: relative;
  margin:0;
  padding:0;
}
