main {
  width: 100vw;
  height: 100vh;
  padding: 10vh 3vw 20vh 1vw;
  &.month_1 {
    @include background-image(url("../img/kerr-janOffice.jpg"));
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    & ol li {
      background-color: rgba($kerrGreen, 0.25);
      &:hover {
        background-color: rgba($kerrGreen, 1);
      }
    }
    & li:nth-of-type(32),
      :nth-of-type(33),
      :nth-of-type(34),
      :nth-of-type(35) {
      background-color: rgba(255, 255, 255, 0.0);
    }
    & li:nth-of-type(32):after,
      :nth-of-type(33):after,
      :nth-of-type(34):after,
      :nth-of-type(35):after {
      content: " ";
    }
  }
  &.month_2 {
    @include background-image(url("../img/kerr-feb.jpg"));
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    & ol li {
      background-color: rgba($white, 0.25);
      &:hover {
        background-color: rgba($white, 1);
      }
    }
  }
  overflow:hidden;
}

.monthArrows {
  width: 100%;
  height: 7.14285714285714285%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .25em;
  svg {
    @include filter(opacity(0.4));
    width:1.75em;
    padding-top: .75em;
  }
}

main ul {
  width:100%;
  height:(7.14285714285714285% / 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: .5em 0em;
}
main ul li {
  width: 14.2857143%;
  height:7.14285714285714285%;
  padding: 0em 0em 0em .5em;
}
main ol {
  width:100%;
  height:(14.2857143% * 6);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
main ol li {
  width: 12.2857143%;
  height: 16.2857143%;
  position: relative;
  margin-right: 1%;
  margin-bottom: .5em;
}
li:nth-child(7),
  :nth-child(14),
  :nth-child(21),
  :nth-child(28),
  :nth-child(35) {
  margin-right: 0%;
}
