
header {
  @include filter(drop-shadow(3px 0px 4px tint($grey,5%)));
  background: $kerrGreen;
  width: 100vw;
  height: 10vh;
  margin:0;
  padding: .75em .75em;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
}
.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navBar .logo {
  width: 10%;
  align-self: flex-start;
  & a svg {
    width: 2.75em;
    @include filter(drop-shadow(3px 1px 1px darken($kerrGreen,5%)));
  }
}
.name {
  width: 67%;
  align-self: center;
  margin-left: .75em;
  & svg {
    width: 100%;
    text-align: center;
    @include filter(drop-shadow(3px 1px 1px darken($kerrGreen,5%)));
  }
}
.navBar ul {
  width: 10%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: .5em;
  li {
    width:100%;
    & a svg {
      width: .75em;
      @include filter(opacity(0.7));
    }
    &:first-child {
      margin-right: -.1em;
    }
    &:last-child {
      margin-left: -.1em;
    }
  }
}
