
header {
  background: $kerrGreen;
  width: 100vw;
  height: 10vh;
  margin:0;
  padding: 1em 2em;
}
.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navBar .logo {
  width: 10%;
  align-self: center;
  & a svg {
    width: 3.5em;
    -webkit-filter: drop-shadow( 3px 1px 1px darken($kerrGreen,5%) );
  }
}
.name {
  width: 60%;
  align-self: center;
  & svg {
    width: 100%;
    text-align: center;
    -webkit-filter: drop-shadow( 3px 1px 1px darken($kerrGreen,5%) );
  }
}
.navBar ul {
  width: 10%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  li {
    width:100%;
    & a svg {
      width: 1.25em;
    }
    &:first-child {
      margin-right: .25em;
    }
    &:last-child {
      margin-left: .25em;
    }
  }
}
.gallery {
  width: 100vw;
  height: 90vh;
  background-image: url("../img/kerr-janOffice.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}
.row {
  width: 100%;
  height: 16%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid $grey;
  & span {
    width: 14.2857142857143%;
    height: 100%;
    border-right: 1px solid $grey;
  }
}
